{% extends "master.html" %}
{% block TITLE %}
  <title>Artist Anna Mir - About the Artist</title>
{% endblock %}
{% block HEAD %}
  <link rel="stylesheet" href="/static/css/about.css" type="text/css" charset="utf-8"></link>
{% endblock %}

{% block BODY %}
<div id="content">
  <div id="cleft">
    <img id="cpic" src="/static/images/firstth050772.jpg"/>
  </div>
  <div id="cright">
    <a href="/statement_bio">statement and bio</a><br>
    <a href="/resume">resume</a><br>
    <a href="/contact">contact</a>
  </div>
</div>
{% endblock %}

{% block SCRIPTS %}
<script type="text/javascript">

</script>
{% endblock %}
