{% extends "master.html" %}
{% block TITLE %}
  <title>Artist Anna Mir - Biography </title>
{% endblock %}
{% block HEAD %}
    <link rel="stylesheet" href="/static/css/bio.css" type="text/css" charset="utf-8"></link>
{% endblock %}

{% block BODY %}
<div id="content">
  <div id="cleft">
    <img id="cpic" src="/static/images/aboutus.jpg"/>
  </div>
  <div id="cright">
Anna Mir was born in St. Petersburg, Russia, a magnificent city rich in arts, culture and history. The early impressions of growing up in the environment of classical beauty and grandeur shaped her esthetic sense and created a foundation for the development of her creative imagination and a profound interest in arts. She started studying drawing, painting and sculpture at the age of twelve. Her family moved to Moscow where Anna entered a high school that specialized in art and architecture.<p>
The eighties were a decade of extensive studies in Anna's life. She continued painting, but also worked in printmaking, graphic arts and illustration. She studied art history at the Lomonosov Moscow State University and fine arts at the Stroganov Moscow State University of Arts and Industry (informally named Stroganovka). <p>
In Soviet Russia formal art studies were focused on classical techniques. A "Modern approach" was not allowed in schools. Anna participated in "official" student exhibitions at the same time joining groups of artists who exhibited their "experimental" work in unofficial "private salons" in Moscow and St. Petersburg. She started developing the network of fans and friends among the art collectors - a group that would expand over the continents in the years to come.<p>
Gorbachev’s political reforms enabled Anna to move to Germany where she studied graphic design and illustration at the Weissensee Kunsthochschule Berlin. She participated in the Old Masters Study program, traveling to France, Italy and Spain to study in the finest museums of Europe. During this time she exhibited her works in Germany and Hungary. She also started doing commission work for private collectors; painting portraits, murals, and site-specific still life and landscapes.<p>
After moving to the US in 1990, Anna first settled in Washington D.C. She exhibited in the local galleries and kept working with collectors.<p>
In 1993 Anna moved to the San Francisco Bay Area, where she has been living ever since. She is a US citizen and has no plans to move again. She says: "It was love at first sight with San Francisco. Traveling has always been an important stimulation for my creativity. I have been a globe trotter for decades, but in San Francisco I found that nurturing quality I have never experienced anywhere else. Bay Area is the only place in the world I can call home. I am a Californian and a very passionate one".<p>
  </div>
</div>
{% endblock %}

{% block SCRIPTS %}
<script type="text/javascript">

</script>
{% endblock %}
