{% extends "master.html" %}
{% block TITLE %}
  <title>Artist Anna Mir - Contact</title>
{% endblock %}
{% block HEAD %}
    <link rel="stylesheet" href="/static/css/contact.css" type="text/css" charset="utf-8"></link>
{% endblock %}

{% block BODY %}
<div id="content">
  <div id="cleft">
    <img id="cpic" src="/static/images/poms/pom1.jpg"/>
  </div>
  <div id="cright">
    <!--h3>Contact</h3-->
Thank you for visiting my website!<p>
I accept commissions for custom size paintings, panels, screens, and murals.
Please contact me for more information.
  </div>
</div>
{% endblock %}

{% block SCRIPTS %}
<script type="text/javascript">

</script>
{% endblock %}
