{% extends "master.html" %}
{% block TITLE %}
  <title>Artist Anna Mir - Home </title>
{% endblock %}
{% block HEAD %}
  <link rel="stylesheet" href="/static/css/home.css" type="text/css" charset="utf-8"></link>
{% endblock %}

{% block BODY %}
<div id="content">
  <div id="cleft">
    <a href="/portfolio/texture"><img id="cpic" src="/static/images/golf/golf1.jpg"/></a>
  </div>
  <div id="cright">
The content of my work always touches one way or the other on Taoistic concept of perpetual transformation. My technique, developed over  years of experimentation, is an attempt to reproduce the deeply spiritual effect of light on icons’ golden rizas or golden mosaic backgrounds. Any change in viewer’s position changes dramatically the way the filigreed metal, or uneven bits of mosaic, reflect light. It alters the emotional impact of the art work,  just like the movement of the sun in nature shifts the mood of a landscape.  <p>
In my paintings I try to convey the experience of  the constant process of change, using heavy textures and metallic paints to manipulate the light. By omitting details I strive to strengthen the significance of the greater whole. The ultimate aim  of my work is the re-creation of the feeling of unity between the viewer and the subject of the painting.<p>
  </div>
</div>
{% endblock %}

{% block SCRIPTS %}
<script type="text/javascript">

</script>
{% endblock %}
