<!doctype html>
<html>
  <head>
    {% block TITLE %}{% endblock %}
    <script src="/static/js/site.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/css/site.css" type="text/css" charset="utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block HEAD %}{% endblock %}
  </head>
  <body>
    <div id="fb-root"></div>

      <div id="header">
	<ul class="nav">
	  <li><a href="/home">home</a></li>
	  <li><a href="/portfolio">portfolio</a></li>
	  <li><a href="/about_artist">about artist</a></li>
	  <li>exhibitions</li>
	  <li><a href="/contact">contact</a></li>
	</ul>
        <span id="name">
	<h1>anna mir</h1>
        </span>
      </div>

      <div class="cacross"></div>
	{% block BODY %}{% endblock %}
      <div class="cacross"></div>

      <div id="footer">
	<a href="/contact"><span class="email_icon foot_item">contact me</span></a>
	<span class="foot_item">copyright &copy; 2023 anna mir</span>

      </div>


 </body>
  {% block SCRIPTS %}{% endblock %}

</html>

  
