<!doctype html>
<html>
  <head>
    {% block TITLE %}{% endblock %}
    <script src="/static/js/site.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/css/site.css" type="text/css" charset="utf-8"/>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    {% block HEAD %}{% endblock %}
  </head>
  <body>
    <div id="fb-root"></div>

      <div id="header">
	<span class="nav">
	  <li><a href="/home">home</a></li>
	  <li><a href="/portfolio">portfolio</a></li>
	  <li><a href="/about_artist">about artist</a></li>
	  <li>exhibitions</li>
	  <li><a href="/contact">contact</a></li>
	</span>
        <span id="name">
	<h1>anna mir</h1>
        </span>
      </div>

      <div class="cacross"></div>
	{% block BODY %}{% endblock %}
      <div class="cacross"></div>

      <div id="footer">
	<a href="mailto:anna@artistannamir.com"><span class="email_icon foot_item">send email</span></a>
	<span class="foot_item">copyright &copy; 2014 anna mir</span>
	<span id="sharing">
	  <div id="fb" class="fb-share-button" data-href="http://artistannamir.com" data-type="icon"></div>
	  <a id="tweet" href="https://twitter.com/share?url=http%3A%2F%2Fartistannamir.com" target="_blank">
	    <img src="https://twitter.com/favicons/favicon.ico"></img>
	  </a>
	</span>
      </div>


 </body>
  {% block SCRIPTS %}{% endblock %}
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</html>

  
