{% extends "master.html" %}
{% block TITLE %}
  <title>Artist Anna Mir - Biography </title>
{% endblock %}
{% block HEAD %}
    <link rel="stylesheet" href="/static/css/resume.css" type="text/css" charset="utf-8"></link>
{% endblock %}

{% block BODY %}
<div id="content">
  <div id="cleft">
    <h3>education</h3>
<br>
architecture - Moscow Architectural Institute (State Academy) - MArchI<br>
<br>
art history - Lomonosov Moscow State University<br>
<br>
graphic arts - Stroganov Moscow State University of Arts and Industry (informal name Stroganovka)<br>
<br>
graphic design and illustration - Weissensee Kunsthochschule Berlin, Germany<br>

  </div>
  <div id="cright">
    <h3>selected exhibitions</h3>
<br>
Group exhibition  "2010 Pacific States Biennial National Print Exhibition"<br>
October 2010 – April 2011<br>
University of Hawaii at Hilo Gallery, HI<p><br>

"Winter 2008, Group exhibition"<br>
January – March 2008<br>
Newmark Gallery, San Francisco, CA<p>

Solo exhibition "Journey Through Dusk and Dawn"<br>
May-June 2007<br>
Newmark Gallery, San Francisco, CA<p>

"Winter group show"<br>
January 2007<br>
Newmark Gallery, San Francisco, CA<p>

"Third Annual San Francisco Cityscapes Show"<br>
October – December 2006<br>
Newmark Gallery, San Francisco, CA<p>

"New Deco"<br>
July – August 2006<br>
Newmark Gallery, San Francisco, CA<p>

Solo show  "Spirit of a Scape"<br>
September – October 2005<br>
Newmark Gallery, San Francisco, CA<p>

Solo show  "Texture of Light"<br>
June 2004<br>
Newmark Gallery, San Francisco, CA<p>

Solo exhibition "Not at all about cats"<br>
October 1999<br>
Elizabeth Norton Studio, Palo Alto, CA<p>

Group exhibitions Main Group, PALPA<p>

Group exhibitions Foster City Center<p>

Group exhibitions Peninsula Art Association Gallery, San Mateo, CA<p>

Group exhibitions Art Center<br>
District of Columbia, DC<p>

Solo show at Gatehouse Gallery,<br>
Mount Vernon, VA<p>

Group exhibitions Rockville Jewish Community Center, MD<p>

Group exhibition Am Frankfurter Tor Berlin, Germany<p>

Solo show Gabor Veres Gallery<br>
Budapest, Hungary<p>

Group exhibitions<br>
Kunsthochschule Gallery, Berlin<p>

Group exhibitions in Moscow, 
St Petersburg, Russia<p>

  </div>
</div>
{% endblock %}

{% block SCRIPTS %}
<script type="text/javascript">

</script>
{% endblock %}
