{% extends "master.html" %}
{% block TITLE %}
  <title>Artist Anna Mir - Statement </title>
{% endblock %}
{% block HEAD %}
  <link rel="stylesheet" href="/static/css/statement.css" type="text/css" charset="utf-8"></link>
{% endblock %}

{% block BODY %}
<div id="content">
  <div id="cleft">
    <img id="cpic" src="/static/images/textures/tex7.jpg"/>
  </div>
  <div id="cright">
From the beginning of my art career I had three main sources of inspiration -  nature, philosophy of Taoism and medieval Christian iconography.<p>
Fascination with the deep spiritual mystery that infuses golden mosaics of Byzantine churches and  Taoistic paintings prompted my search to seek out and isolate the aspects of nature that create a powerful, sometimes life-changing impact on us.<p>
I think that our ancestors possessed a heightened sense of light, sharpened by a way of relating to the changes of celestial illumination that is very different from ours. They viewed it as both the source and the driving force behind everything that exists. I find that their perception resonates with me, as an artist and as a human being.<p>
The content of my work always touches one way or the other on Taoistic concept of perpetual transformation. My technique, developed over  years of experimentation, is an attempt to reproduce the deeply spiritual effect of light on icons’ golden rizas or golden mosaic backgrounds. Any change in viewer’s position modifies dramatically the way the filigreed metal, or uneven bits of mosaic, reflect light. It alters the emotional impact of the art work,  just like the movement of the sun in nature shifts the mood of a landscape.<p>
In my paintings I use heavy textures and metallic paints to manipulate the light in an attempt to convey the experience of  the constant process of change. Sometimes my work appears almost abstract but it is always a representation of a specific physical place in a particular light. By omitting details I strive to strengthen the significance of the greater whole. The ultimate aim  of my work is the re-creation, at least to some extent, of the experience of unity between the observer and the observed.<p>
  </div>
</div>
{% endblock %}

{% block SCRIPTS %}
<script type="text/javascript">

</script>
{% endblock %}
