{% extends "master.html" %}
{% block TITLE %}
  <title>Artist Anna Mir - Biography </title>
{% endblock %}
{% block HEAD %}
    <link rel="stylesheet" href="/static/css/stat_bio.css" type="text/css" charset="utf-8"></link>
{% endblock %}

{% block BODY %}
<div id="content">
  <div id="cleft">
<h3>artist statement</h3>
<br>
From the beginning of my art career I had three main sources of inspiration -  nature, the philosophy of Taoism and medieval Christian iconography.<p>
Fascination with the deep spiritual mystery that infuses golden mosaics of Byzantine churches and  Taoistic paintings prompted my search to seek out and isolate the aspects of nature that create a powerful, sometimes life-changing impact.<p>
Our ancestors possessed a heightened sense of light, sharpened by a way of relating to the changes of celestial illumination that is very different from ours. They viewed it as both the source and the driving force behind everything that exists. That perception resonates with me, as an artist and as a human being.<p>
In my paintings I use heavy textures and metallic paints to manipulate the light in an attempt to convey the experience of  the constant process of change. Sometimes my work appears almost abstract but it is always a representation of a specific physical place in a particular circumstance. Omitting details serves as a means to strengthen the significance of the greater whole. The ultimate aim  of my work is the re-creation, at least to some extend, of the experience of unity between the observer and the observed.<p>
  </div>
  <div id="cright">
<h3>biography</h3>
<br>
Anna Mir was born in St. Petersburg, Russia, a magnificent city rich in arts, culture and history. Growing up in the environment of classical beauty shaped her esthetic sense and created a foundation for the development of her creative imagination and interest in arts. She started formally studying drawing and painting at the age of twelve, later attending a high school that specialized in art and architecture.<p>
Anna continued her education in Moscow studying architecture at Moscow Architectural Institute (State Academy) - MArchI; art history at the Lomonosov Moscow State University;  graphic arts at the Stroganov Moscow State University of Arts and Industry (informal name Stroganovka).<p>
Anna participated in student exhibitions, at the same time joining groups of artists who exhibited their work (considered "experimental and undesirable" in the Soviet Union) in private salons in Moscow and St. Petersburg. She continued painting, but also worked in printmaking, graphic arts and illustration.<p>
After Gorbachev's political reforms Anna moved to Germany where she studied graphic design and illustration at the Weissensee Kunsthochschule Berlin. She participated in the Old Masters Study program, traveling to France, Italy and Spain. During that time she exhibited her works in Germany and Hungary,  also doing commission work -  portraits, murals, and site-specific still life and landscapes.<p>
After moving to the US in 1990, Anna first settled in Washington D.C. area where she exhibited in the local galleries and kept working on commission.<p>
Since 1993 Anna has been living in the San Francisco Bay Area. The main focus of her artwork in the recent decade was development of a unique painting technique,  bringing her art to a new level of maturity.  The endeavour led to the creation of several series of paintings exhibited at solo shows at Newmark Gallery San Francisco that had represented her.
Anna is a US citizen and has no plans to move again. She says: "It was love at first sight. I have been a globe trotter for decades, but in San Francisco I found the nurturing quality I have never experienced anywhere else. I am a Californian, a very passionate one".<p>

  </div>
</div>
{% endblock %}

{% block SCRIPTS %}
<script type="text/javascript">

</script>
{% endblock %}
